.login_from_wrap {
    width: 420px;
    margin: 100px auto auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .login_from_wrap .title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 0 auto 24px;
  }
  
  .login_from_wrap .action {
    margin-top: 12px;
    float: right;
  }
  